
* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: rgb(74, 108, 202);
}

canvas {
  font-size: 22px;
  font-family: "Arial";
  background-color: rgb(8, 11, 53);
  margin: 0 auto;
}
